
#mainNav{
    background-color: transparent;
    display: inline;
    padding:1rem 0 0 0;
}
.nav-link{
    color:black;
   font-weight: 300;
    font-size: 20px;
    margin:0 0 0 3rem;
    padding:0 0 0 0;
    font-family: 'Fredericka the Great', cursive;

}

.jumbotron {
    background-color:white ;
    background-image:linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)),url("../images/pic2.png");
    background-repeat: no-repeat;
    background-size: 1300px 600px;
    height:600px;
    background-position: center;
    padding:0 0 0 0;
    margin-bottom: 0;
  }

  .web-links.header {
    margin: 8px auto 5px;
    width: 150px
}
.web-links.header #github,
.web-links.header #linkedin,
.web-links.header #resume {
    height: 30px;
    fill: #fff;
    filter:brightness(85%);
    
}



.name{
    margin:0 0 0 0;
    padding:0 0 0 0;
    color: white;
    font-size: 150px;
    font-weight: 500;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    

}
.job{
    margin:0 0 1rem 0;
    padding:0 0 0 0;
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
    font-weight: 550;
   
    
}

#sectionHead{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    color:white;
    
   
}

.about {
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: black;
    
}
.about p {
    margin: 10px 0;
    text-align: justify
}
.about a {
    font-weight: 400
}
.about-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 920px;
    text-align: left
}
.avatar {
    height: 180px;
    margin-right: 50px;
    border-radius: 1000px
}
.avatar,
.text {
    display: inline-block
}
.text {
    font-size: 18px;
    font-weight: 300;
    color:white;
    font-family: 'Quando', serif;
    
}
@media (max-width: 800px) {
    .about-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .avatar {
        margin: 10px auto;
        margin-bottom: 40px
    }
}
@media (max-width: 500px) {
    .about p {
        margin: 10px 0;
        font-size: 15px
    }
}

#projectHead{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    color:white;
    
}

.project-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 6px rgba(113, 140, 175, .75);
    box-shadow: 0 5px 6px rgba(113, 140, 175, .75);
    color: #212121;
    text-shadow: 0 0;
    text-decoration: none;
    text-align: left;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    overflow: hidden
}
.project-card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0 5px 16px #5b6e8e;
    box-shadow: 0 5px 16px #5b6e8e
}
.card-text {
    padding: 14px;
    font-weight: 300;
    border-top: 1px solid #ddd
}
.links {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #5c7ca8
}
.project-name {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
}
.description {
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Quando', serif;
}
.card-image {
    position: relative
}
.color-overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8caad2;
    mix-blend-mode: hard-light;
    opacity: .5
}
.color-overlay,
.screenshot {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}
.screenshot {
    display: block;
    width: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}
.project-card:hover .screenshot {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}
.project-card:hover .color-overlay {
    opacity: 0
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .color-overlay {
        opacity: 0
    }
    .project-card:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 5px 6px rgba(113, 140, 175, .75);
        box-shadow: 0 5px 6px rgba(113, 140, 175, .75)
    }
    .screenshot {
        -webkit-filter: grayscale(0);
        filter: grayscale(0)
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .color-overlay {
        opacity: 0
    }
    .project-card:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 5px 6px rgba(113, 140, 175, .75);
        box-shadow: 0 5px 6px rgba(113, 140, 175, .75)
    }
    .screenshot {
        -webkit-filter: grayscale(0);
        filter: grayscale(0)
    }
}
.projects {
    background-color: black;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 1px #556b8e
}
.projects strong {
    font-weight: 600
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}
@media (max-width: 1200px) {
    .project-cards {
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (max-width: 800px) {
    .project-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px
    }
}
#contactHead{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5rem;
    color:white;
}
.contact {
    background: black;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
    color:white;
}

.web-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px auto;
    width: 150px
}
.web-links a {
    border: none
}
.web-links svg {
    height: 40px;
    fill: white;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}
.web-links svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer
}
#github:hover {
    fill: #6e5494
}
#linkedin:hover {
    fill: #0077b5
}
@media (max-width: 800px) {
    .web-links {
        margin-top: 30px
    }
}


@-webkit-keyframes pulse {
    15% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
    85% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes pulse {
    15% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
    85% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@media (max-width: 800px) {
    footer {
        -ms-flex-direction: column;
        flex-direction: column
    }
}
/*# sourceMappingURL=main.25e3d9ee.css.map*/